{% extends "base.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th></th>
      {% for dia in dias %}
        <th>{{ dia }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for escala in escalas %}
      <tr>
        <td>{{ escala.tripulante.nome }}</td>
        {% for dia in dias %}
          {% if dia == escala.voo.data.day %}
            <td>{{ escala.voo.num_voo }}</td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}